/* -------1200--------- */

@media only screen and (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        min-width: 1400px !important;
    }

}

/* -------767--------- */

@media only screen and (max-width: 767px) {
.sec-mobile{
    display: block !important;
 }
 .sec-cont-mobil{
    display: none;
 }
 .sec-logo-33{
    width: 100%;
 }
 a.navbar-brand{
    width: 73%;
 }
 br {
    display: none;
}

 .sec-all-main-header {
    font-size: 28px !important;
    line-height: 40px !important;
}
.sec-all-main-header2 {
    font-size: 37px;
    line-height: 40px;
}

.sec-footer-logo{
    width: 100%;
}
.sec-img-appp2 img , .sec-img-appp img {
    width: 85%;
}

.sec-dotee-hh {
    font-size: 29px;
    line-height: 130.5%;
    padding: 24px 0px;
}
.sec-img-appp {
    margin-top: -133px;
}
.sec-img-appp2 {
    margin-top: -138px;
}
.sec-text-aaa {
    position: relative;
    z-index: 10;
    padding-top: 50px;
}
.col-lg-3.aos-init.aos-animate img , .col-lg-3.aos-init{
    width: 50%;
}
nav.navbar.navbar-expand-md.navbar-dark.mb-4 {
    margin: 0 !important;
}
.sec-bgg-aaa {
    padding: 40px 10px 40px 10px;
}
.sec-about-ppp {
    font-size: 18px;
    line-height: 179%;
}
.sec-padd-all {
    padding: 30px 10px 0px 10px;
}
.sec-all-main-header33 {
    font-size: 24px;
    line-height: 32px;
}
.sec-footer-pp {
    font-size: 21px;
    line-height: 42px;
}
a.nav-link.sec-li-small2 {
    font-size: 18px;
    line-height: 16px;
    padding-left: 10px !important;
    padding-top: 13px !important;
}
.sec-aboytt-pp {
    font-size: 18px;
    margin: 0px;
}

.sec-ab-h {
    font-size: 35px;
    line-height: 60px;
}
.sec-abou-ppd {
    font-size: 18px;
}
.sec-all-foote-ma {
    margin-bottom: 0px;
    z-index: 10;
    position: relative;
}
.sec-ser-hh-cw {
    font-size: 25px;
    line-height: 31px;
}
.col-lg-6.aos-init.aos-animate {
    padding-top: 20px;
}
.sec-hande-w{
    width: 100%;
    padding: 10px !important;
}
.container.p-5.sec-all-foote-ma.sec-over-flow.aos-init.aos-animate {
    padding: 10px !important;
}
.secc-flect {
    display:block;
}
.arrow , .arrow2{
    display:none;
}
.sec-all-padin {
    padding: 10px 0px;
}
.sec-ind-h {
    font-size: 44px;
    line-height: 54px;
}
.sec-rowww-p{
    padding:0px !important;
}
.sec-we-hh {
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 20px;
}
.sec-abouttt-img{
    width: 100%;
}
.sec-bob-bg , .sec-bob-bg2 , .sec-bob-bg3 , .sec-bob-bg4 {
    padding: 20px 10px;
    margin-left: 0px;
}
.sec-bhh-colo {
    margin-left: 0px;
    margin-right: 0px;
}
.sec-box-all-padi {
    padding: 30px 0px 0px 0px;
}
.sec-bhh-colo h3 {
    font-size: 30px;
    line-height: 60px;
}
.sec-dfexss{
    display: block !important;
}
.sec-apl-mainh {
    font-size: 28px;
    line-height: 40px;
}
.sec-apply-f-h {
    font-size: 35px;
    line-height: 44px;
    padding-top: 30px;
}
input {
    margin-top: 20px;
}
.sec-form-ww{
    padding: 0px !important;
}
.container.pt-5.sec-over-flow.aos-init.aos-animate {
    padding: 0px !important;
}
label {
    font-size: 16px;
    line-height: 29px;
    padding: 5px;
}
button.accordion-button {
    font-size: 16px;
    line-height: 163%;
}
.accordion-body p {
    font-size: 15px;
}
button.btn.btn-primary {
    font-size: 20px;
    line-height: 30px;
    padding: 7px 30px;
}
.sec-form-ww form {
    width: 90% !important;
    margin: auto;
}

}

