/* -------1200--------- */

@media only screen and (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        min-width: 1400px !important;
    }

}

/* -------767--------- */

@media only screen and (max-width: 767px) {
.sec-mobile{
    display: block !important;
 }
 .sec-cont-mobil{
    display: none;
 }
 .sec-logo-33{
    width: 100%;
 }
 a.navbar-brand{
    width: 73%;
 }
 br {
    display: none;
}

 .sec-all-main-header {
    font-size: 28px !important;
    line-height: 40px !important;
}
.sec-all-main-header2 {
    font-size: 37px;
    line-height: 40px;
}

.sec-footer-logo{
    width: 100%;
}
.sec-img-appp2 img , .sec-img-appp img {
    width: 85%;
}

.sec-dotee-hh {
    font-size: 29px;
    line-height: 130.5%;
    padding: 24px 0px;
}
.sec-img-appp {
    margin-top: -133px;
}
.sec-img-appp2 {
    margin-top: -138px;
}
.sec-text-aaa {
    position: relative;
    z-index: 10;
    padding-top: 50px;
}
.col-lg-3.aos-init.aos-animate img , .col-lg-3.aos-init{
    width: 50%;
}
nav.navbar.navbar-expand-md.navbar-dark.mb-4 {
    margin: 0 !important;
}
.sec-bgg-aaa {
    padding: 40px 10px 40px 10px;
}
.sec-about-ppp {
    font-size: 18px;
    line-height: 179%;
}
.sec-padd-all {
    padding: 30px 10px 0px 10px;
}
.sec-all-main-header33 {
    font-size: 24px;
    line-height: 32px;
}
.sec-footer-pp {
    font-size: 21px;
    line-height: 42px;
}
a.nav-link.sec-li-small2 {
    font-size: 18px;
    line-height: 16px;
    padding-left: 10px !important;
}
.sec-aboytt-pp {
    font-size: 20px;
}

.sec-ab-h {
    font-size: 35px;
    line-height: 60px;
}
.sec-abou-ppd {
    font-size: 18px;
}
.sec-all-foote-ma {
    margin-bottom: 0px;
    z-index: 10;
    position: relative;
}

}

