#navbarSupportedContent {
    display: flex !important;

}
.navbar-toggler {
    text-decoration: none;
    background: #000;
}


.sec-mobile{
    display: none !important;
}
a.nav-link.sec-li-small2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-left: 50px !important;
    color: #2E2E2E !important;

}
.sec-over-flow{
    overflow: hidden;
}
.sec-cont-btttn {
    background: #E74546;
    padding: 15px 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.sec-all-main-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 90px;
    color: #2E2E2E;
}

.sec-all-main-header2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 90px;
    color: #2E2E2E;
}

.sec-bgg-aaa {
    background-image: url(../images/two-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 100px 10px 60px 10px;
}

.sec-img-appp {
    margin-top: -220px;
}

.sec-img-appp2 {
    margin-top: -174px;
}

.sec-text-aaa {
    position: relative;
    z-index: 10;
}

.sec-dotee-hh {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 135.5%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 108px;
}

.sec-about-ppp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 180%;
    color: #000000;
}

.sec-all-main-header33 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    text-align: center;

    color: #000000;

}

.sec-padd-all {
    padding: 60px 10px 0px 10px;
}

.sec-footer-bg {
    background-image: url(../images/footer-bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 30px;
}

.sec-footer-pp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 54px;
    text-transform: capitalize;
    color: #FEFEFE;
    margin: 0px;
}

.sec-footer-icon {
    color: #E74546;
    font-size: 30px;
}

.sec-for-call {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #FEFEFE;
    padding-top: 20px;

}

.sec-a-cal-pp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #FEFEFE;
    text-decoration: none;
    margin: 0px;
    word-break: break-all;
}

.sec-footer-bg-2 {
    background-color: #F1F1F1;
    padding: 40px 10px;
}

.sec-address-pp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.sec-all-addresss {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    text-decoration: none;
}

.sec-cont-hhh {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.sec-allll-icon {
    color: #E74546;
    font-size: 25px;
}

.sec-footer-bgg-4 {
    background: #E74546;
    padding: 20px 10px;
}

.sec-copy-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
}

.sec-aboytt-pp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.sec-img-right {
    text-align: right;
}

.sec-img-right img {
    width: 15%;
}

.sec-ab-h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 101px;
    color: #2E2E2E;
}

.sec-abou-ppd {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 172%;
    color: #000000;
}

.sec-all-foote-ma {
    margin-bottom: -88px;
    z-index: 10;
    position: relative;
}

.sec-ser-fle {
    margin-top: -71px;
}

.sec-lin-ap {
    background-color: #E74546;
    padding: 23px 40px;
    border-radius: 90px 0px 0px 0px;
    color: #fff;
    font-size: 25px;
}

.sec-link-ppp {
    text-align: right;
    padding: 0;

}

.sec-ser-hh-cw {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 62px;
    color: #FFFFFF;
    padding-left: 25px;
}

.sec-good-h p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    color: #000000;

}

.secc-flect {
    display: flex;
    justify-content: space-between;
}

.arrow {
    padding-top: 120px;
}

.sec-all-padin {
    padding: 60px 0px;
}

.sec-ind-h {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 101px;
    text-align: center;
    color: #2E2E2E;

}

.sec-we-hh {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 77px;
    color: #000000;
}

.sec-ppp-wwwh p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    color: #000000;

}

.sec-bob-bg {
    background-image: url(../images/box-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 40px;
    margin-left: 80px;
}

.sec-bob-bg2 {
    background-image: url(../images/box-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 40px;
    margin-left: 80px;
}

.sec-bob-bg3 {
    background-image: url(../images/box-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 40px;
    margin-left: 80px;
}

.sec-bob-bg4 {
    background-image: url(../images/box-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 40px;
    margin-left: 80px;
}

.sec-bhh-colo {
    background: #F4F4F4;
    padding: 40px;
    margin-left: -127px;
    margin-right: 280px;
}

.sec-bhh-colo h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 77px;
    color: #000000;

}

.sec-bhh-colo p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;

}

.sec-box-all-padi {
    padding: 100px 0px 0px 0px;

}

.btn-ss {
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.sec-btn-btn {
    background: #E74546;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;

}

.sec-good-h h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 161.5%;
    text-align: center;
    color: #000000;

}

.sec-apl-mainh {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 96px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.sec-apply-f-h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 96px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 49px;
    color: #000000;
    padding-top: 15px;
}

input,
select.form-control , textarea.form-control.mb-3 {
    border-radius: 0px !important;
    background: #EBEBEB !important;
}

.sec-form-ww form {
    width: 80% !important;
    margin: auto;
}

button.btn.btn-primary {
    background: #E74546;
    border-radius: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
padding: 20px 40px;
    color: #FFFFFF;
border: none;
}

button.accordion-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 175%;
    color: #000000;
}
.accordion-body p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 175%;
    color: #000000;
    
}
